In [2]:
univ = pd.read_csv("Universities.csv")

In [4]:
univ.head()

       Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0     Brown  1310     89      22       13     22704        94
1   CalTech  1415    100      25        6     63575        81
2       CMU  1260     62      59        9     25026        72
3  Columbia  1310     76      24       12     31510        88
4   Cornell  1280     83      33       13     21864        90

In [1]:
import pandas as pd
import seaborn as sns
import numpy as sns
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import MinMaxScaler

In [12]:
uni=univ.iloc[:,1:]

In [13]:
array=uni.values

In [14]:
array

array([[ 1310,    89,    22,    13, 22704,    94],
       [ 1415,   100,    25,     6, 63575,    81],
       [ 1260,    62,    59,     9, 25026,    72],
       [ 1310,    76,    24,    12, 31510,    88],
       [ 1280,    83,    33,    13, 21864,    90],
       [ 1340,    89,    23,    10, 32162,    95],
       [ 1315,    90,    30,    12, 31585,    95],
       [ 1255,    74,    24,    12, 20126,    92],
       [ 1400,    91,    14,    11, 39525,    97],
       [ 1305,    75,    44,     7, 58691,    87],
       [ 1380,    94,    30,    10, 34870,    91],
       [ 1260,    85,    39,    11, 28052,    89],
       [ 1255,    81,    42,    13, 15122,    94],
       [ 1081,    38,    54,    18, 10185,    80],
       [ 1375,    91,    14,     8, 30220,    95],
       [ 1005,    28,    90,    19,  9066,    69],
       [ 1360,    90,    20,    12, 36450,    93],
       [ 1075,    49,    67,    25,  8704,    67],
       [ 1240,    95,    40,    17, 15140,    78],
       [ 1290,    75,    50,    13, 38380,    87],
       [ 1180,    65,    68,    16, 15470,    85],
       [ 1285,    80,    36,    11, 27553,    90],
       [ 1225,    77,    44,    14, 13349,    92],
       [ 1085,    40,    69,    15, 11857,    71],
       [ 1375,    95,    19,    11, 43514,    96]], dtype=int64)

In [22]:
scaler=MinMaxScaler()

In [23]:
v=scaler.fit_transform(array)

In [24]:
model=DBSCAN(eps=0.8,min_samples=6)

In [27]:
model.fit(v)

DBSCAN(eps=0.8, min_samples=6)

In [28]:
model.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)